<h1>Student Login</h1>

<form method="post">

    <label>Enter Username</label>
    <br />

    <input type="text" name="username" />

    <br /><br />

    <button type="submit">Login</button>

</form>